*{
margin:0;
padding:0;

}
.profile{
margin-right:5px;
}
.header{
width:100%;
background-color:rgba(0,0,0,.2);
}
.header ul{
text-align:center;
float:right;
margin-right:20px;
}
.header ul li{
list-style:none;
display:inline-block;
margin:0 30px;
margin-top:15px;
}
.header ul li a:hover{
overflow:hidden;
display:block;
margin-left:40px;
text-decoration:none;
color:#fff;
font-size:8px;
font-family:sans-serif;
letter-spacing:10px;
font-weight:800%;
padding:5px;
}
label.logo{
color:white;
font-size:15px;
line-height:50px;
padding:0 30px;
font-weight:bold;
}
.welcome{
color:black;
font-size:25px;
margin-top:100px;
margin-left:100px;
}
.name{
font-size:100px;
color:blue;
}
.onclick{
border:2px solid white;
border-radius:5px;
}
.head{
color:black;
margin-left:100px;
}
.abt{
text-decoration:none;
font-family:sans-serif;
margin-left:500px;
margin-top:-300px;
font-weight:100px;

}
.ps{
opacity:0.5;
}
.inset a:link, a:visited {

  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.ridge a:link, a:visited {
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.outset a:link, a:visited {
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.social-icons{
margin-left:500px;
letter-spacing:4px;
border-radius:2px;
}
.info{
opacity:0.5;
color:black;
margin-left:100px;
}
.img{
margin-left:100px;
}
.identity
{
margin-left:500px;
margin-top:-1px;
}
.id2{
margin-left:900px;
margin-top:-110px;
}
.ridge{
border-style:inset;
margin-left:100px;
margin-right:950px;
}
.inset{
border-style:inset;
margin-left:500px;
margin-right:600px;
margin-top:-230px;
margin-bottom:10px;
}
.outset{
border-style:inset;
margin-left:890px;
margin-right:200px;
margin-top:-260px;
margin-bottom:20px;
}
.solid{
border-style:inset;
margin-left:100px;
margin-right:200px;
}
.h{
font-size:30px;
}.ex{
font-size:30px;
}
.abc{
font-size:30px;
}
.skills{
width:100%;
margin-left:80px;
max-width:600px;
padding:0 20px;
}
.skill-name{
font-size:18px;
font-weight:700;
text-transform:uppercase;
margin:20px 0;
}
.skill-bar{
height:20px;
background:#cacaca;
border-radius:8px;
}
.skill-per{
height:20px;
background-color:#0fbcf9;
border-radius:8px;
width:50%;
transition:1s linear;
position:relative;
}
.skill-per::before{
content: attr(per);
position:absolute;
padding:4px 6px;
background-color:#000;
color:#fff;
font-size:12px;
border-radius:4px;
top:-35px;
right:0;
transform:translateX(50%);
}
.skill-per::after{
content:"";
position:absolute;
width:10px;
height:10px;
background-color:#000;
top=-16px;
right: 0;
transform:translateX(50%) rotate(45deg);
border-radius:2px;
}
.img1{
margin-left:800px;
margin-right:150px;
margin-top:-350px;
margin-bottom:20px;
}
.gt{
margin-left:100px;
font-size:40px;
}
.box{
border-style:groove;
margin-left:105px;
margin-right:200px;
}
.drop{
margin-left:100px;
font-size:30px;
}
.a{
margin-left:100px;
height:30px;
width:30%;
}
.b{
margin-left:115px;
height:30px;
width:400px;
}
.c{
margin-left:100px;
width:80%;
}
.d{
margin-left:830px;
}
.initlogo{
margin-left:600px;
}

.social{
margin-left:630px;
}